---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';
import HeroImage from '~/assets/images/ken-luzu-hero-image.png';

const metadata = {
  title: 'Ken Luzuriaga',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'Blog', href: '#blog' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Portfolio', href: '#portfolio' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Ken Luzuriaga"
    tagline="Software Engineer"
    actions={[
      {
        variant: 'secondary',
        text: 'View CV',
        href: getPermalink('https://drive.google.com/file/d/1fUFtf0wLjBRg79-kFwb4ftLAaMeGyVbz/view?usp=sharing'),
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="image">
      <img
        src={HeroImage.src}
        alt="Ken Luzuriaga"
        style="width: 100px; border-radius: 8px; margin: auto;"
        loading="eager"
      />
    </Fragment>
    <Fragment slot="subtitle">
      I’m a backend-focused developer passionate about learning and growth. I enjoy working in teams and I’m always open to exploring other areas of IT
    </Fragment>
  </Hero>

  <!-- Blog Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my random articles on my blog"
    information={`I will try writing about what I learn or what gives me an 'Oh wow!' moment".`}
  />
  <!-- Content Widget **************** -->

  <Content classes={{ container: 'mb-8 mt-8' }}
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'Linkedin',
          href: 'https://www.linkedin.com/in/kenluzuriaga0',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/kenluzuriaga0',
        },
      },
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/ken_nlm',
        },
      },
    ]}
    image={{
      src: '~/assets/images/portrait.jpg',
      alt: 'Ken face Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I am a technology enthusiast with immense intellectual curiosity. I have experience working in teams and I focus on backend development technologies. However, I am always willing to expand to other IT areas.
        <br />
        <br />
        <p>If you like, you can follow me :</p>
      </p>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Software Developer <br /> <span class="font-normal">Trescloud LTDA,  <small> Quito  </small></span> <br /> <span class="text-sm font-normal">Ago/2022 - Present</span>',
        description: `📌 Customized various Odoo ERP modules for clients and contributed to the official 
        Ecuadorian localization. [Python, Odoo Framework, SQL] <br />
        📌 Developed migrations and provided support for various Odoo ERP modules
        (Accounting, Stock, Sales, etc).`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Software Developer <br /> <span class="font-normal">Grupo Medilink, <small> Guayaquil </small></span> <br /> <span class="text-sm font-normal">Jan/2021 - Jul/2022</span>',
        description: `📌 Web Applications Development [Java EE, JSF, Primefaces, Postgresql] <br />
        📌 Api Rest Applications Development [Spring Boot, Thymeleaf, Postgresql]`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />


   <!-- Content Widget **************** -->

   <Content classes={{ container: 'mt-10' }}
   title="Projects"
   id="portfolio"
    isReversed
    items={[
      {
        title: 'Description:',
        description: `Developed a web application to generate personalized QR codes for members of the Naval Sports Association (ADN), used for identification and access control.
It Includes automated module for sending birthday greeting emails to members.`,
      },
      {
        title: 'Tech Stack:',
        description: `FastAPI, React, Vite, PostgreSQL, AWS S3`,
      },
    ]}
    image={{
      src: '~/assets/images/projects/adn.png',
      alt: 'ADN Image',
      width: 480,
      height: 230,
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://app.asociaciondeportivanaval.com/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Web App to generate QR codes for ADN</span>
      </h3>
    </Fragment>

  </Content>

   <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Freelance full stack project to manage the occupational orders for Biolaboratorio`,
      },
      {
        title: 'Tech Stack:',
        description: `Angular 17, Spring Boot 2.7, PostgreSQL, AWS S3`,
      },
    ]}
    image={{
      src: '~/assets/images/projects/biolaboratorio.png',
      alt: 'BioLaboratorio Image',
      height: 230,
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://biolaboratorio.up.railway.app',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">BioLaboratorio</span>
      </h3>
    </Fragment>

  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Web application for registering information about children intervened on the streets of Ecuador, aimed at MIES (Ministry of Economic and Social Inclusion) and DINAPEN',
      },
        {
        title: 'Tech Stack:',
        description:
          'Angular 14, PHP 7, Mysql',
      },
    ]}
    image={{
      src: '~/assets/images/projects/mies.jpg',
      alt: 'Tech Design Image',
      width: 500,
      height: 300,
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the source code',
      icon: 'tabler:chevron-right',
      href: 'https://github.com/kenluzuriaga0/miesDinapenWeb',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
       <span class="text-2xl">Web app for Mies-Dinapen</span>
      </h3>
    </Fragment>

  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Application for converting audio to text using AWS services. It allows users to upload audio files, which are then processed to extract text content.',
      },
      {
        title: 'Tech Stack:',
        description: `Angular 14, AWS: Transcribe, S3, Lambdas, API Gateway`,
      },
    ]}
    image={{
      src: '~/assets/images/projects/medical.png',
      alt: 'Medical Record Image',
      height: 290,
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the source code',
      icon: 'tabler:chevron-right',
      href: 'https://github.com/kenluzuriaga0/MedicalRecordCloud',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Medical Record Cloud</span>
      </h3>
    </Fragment>

  </Content>


  <!-- Features3 Widget ************** -->
  <Features3 classes={{ container: 'mt-10' }}
    title="Skills"
    subtitle="Tools from my batman belt 🦇 "
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Java - Spring Boot',
      },
      {
        title: 'Typescript - Angular',
      },
      {
        title: 'SQL',
      },
      {
        title: 'Python - Fast Api',
      },
      {
        title: 'Docker',
      },
      {
        title: 'AWS',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->
</Layout>
